
/*
----------------------------------------------------
COMMON VARIABLE
---------------------------------------------------
*/
$primary-color: #ed502e;
$secondary-color: #0372aa;
$font-color-normal: #4d4646;
$secondary-font-family: "Crimson Text", serif;
$section-label-font-family: "Philosopher", sans-serif;
$app-background-color: #f7f6f6;
$footer-background-color: #071527;
$primaryy-active-color: #ff2d002b;
$app-primary-gradient: linear-gradient(
  to bottom,
  #0b90d2,
  #0081e2,
  #006eee,
  #0055f1,
  #4c2dea
);
body {
  background-color: $app-background-color !important;
}
html {
  scroll-behavior: smooth;
}
.ng-image-slider .ng-image-slider-container .main .prev {
  left: 5px !important;
}

.ng-image-slider .ng-image-slider-container .main .next,
.ng-image-slider .ng-image-slider-container .main .prev {
  background-color: #e7e2e285 !important;
  border-radius: 0 !important;
  width: 80px !important;
  height: 50px !important;
  font-size: 50px !important;
  line-height: 35px !important;
  text-decoration: none !important;
  color: grey !important;
  right: 3px !important;
}

/*
----------------------------------------------------
COMMON SECTION DESIGN
---------------------------------------------------
*/

.section-title h2 {
  font-family: "Crimson Text", serif;
  font-family: $section-label-font-family;
  font-weight: 700;
  color: $primary-color;
  font-size: 2.5rem;
  margin: 0 0 15px;
  border-left: 7px solid $secondary-color;
  padding-left: 15px;
  text-shadow: 2px -1px 3px rgb(9 9 9 / 59%);
}

.section-description {
  font-family: "Crimson Text", serif;
  font-size: 1.4rem;
  color: $font-color-normal;
}

/*
----------------------------------------------------
SOCIAL MEDIA SECTION DESIGN
---------------------------------------------------
*/
.social-media-icon-section {
  background-image: $app-primary-gradient;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
.social-media-icon-section span .social-icon {
  padding: 6px 5px;
  font-size: 1.5rem;
  margin-right: 15px;
  cursor: pointer;
}

/*
----------------------------------------------------
MENU ITEM SECTION DESIGN
---------------------------------------------------
*/

.open-menu-icon {
  background-color: $primary-color;
  font-size: 1.5rem;
  position: fixed;
  right: 0px;
  z-index: 9999999;
  top: 15%;
  width: 50px;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.open-menu-icon i {
  color: #fff;
  font-size: 1.2rem;
  margin-left: 15px;
  display: inline-block;
  margin-top: 14px;
}
.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  padding: 5px;
  margin-top: 50%;
}
.menu-item-label {
  font-size: 1.3rem;
  margin: 2px;
  letter-spacing: 1.5px;
  font-family: $section-label-font-family;
}
.menu-item-label a {
  text-decoration: none;
  color: #000;
}
.menu-item-label:hover {
  border-bottom: 3px solid $primary-color;
  cursor: pointer;
}
.menu-item-list {
  padding: 7px;
}
.menu-sidebar.p-sidebar .p-sidebar-header,
.menu-sidebar.p-sidebar .p-sidebar .p-sidebar-footer {
  display: none;
}

.close-menu-icon {
  color: $primary-color;
  font-size: 2.5rem;
  position: absolute;
  left: -2px;
  z-index: 9999999;
  top: -14px;
  width: 50px;
  height: 50px;
}

/*
----------------------------------------------------
COMPANY LOGO SECTION DESIGN
---------------------------------------------------
*/

.logo-container-item {
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
}

#company-logo-section .logo-container {
  /*position: relative;
   display: flex;
  flex-direction: column;
  align-items: center; */
  height: 250px;
  width: 100%;
  margin-bottom: 90px;
  margin-top: -5px;
  background-image: $app-primary-gradient;
}
.company-logo-image {
  /*  position: absolute;
  bottom: -95px; */
  height: 190px;
  // width: 540px;
  width: 100%;
  border: 5px solid #2f69f8;
  border-radius: 10px;
  -webkit-box-shadow: -1px -6px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -6px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -6px 11px -1px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}
.align-item-center {
  align-items: center;
}

.company-title {
  text-align: center;
  font-family: $section-label-font-family;
  color: #fff;
  text-shadow: -2px 6px 6px rgb(0 0 0 / 59%);
  font-size: 3rem;
  margin-top: 3px;
  margin-bottom: 15px;
}

.logo-section-label {
  color: #fff;
  font-size: 1rem;
  font-family: $section-label-font-family;
  text-decoration: none;
}
.logo-section-icon {
  color: #fff;
  font-size: 1rem;
}
.logo-section-label:hover {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

/*
----------------------------------------------------
SERVICES SECTION DESIGN
---------------------------------------------------
*/

input[type="checkbox"].myClass {
  display: none;
}
input[type="checkbox"].myClass + label {
  box-shadow: inset 0 0 0 1px silver;
  border-radius: 15px;
  display: inline-block;
  font-family: sans-serif;

  opacity: 0.8;
  padding: 0.8em 1.2em;
  text-align: center;
  width: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  margin: 5px;
  letter-spacing: 1.5px;
}
input[type="checkbox"].myClass + label:before {
  background-image: linear-gradient(to left, black, black),
    linear-gradient(to left, black, black);
  background-size: 2px 50%, 25% 2px;
  background-repeat: no-repeat;
  background-position: 0.75em 0.625em, 0.75em 0.625em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px black;
  content: "";
  display: inline;
  height: 2em;
  margin: 1em auto;
  transform: rotate(-135deg);
  width: 2em;
}

input[type="checkbox"].myClass:checked + label:before {
  background-image: linear-gradient(to left, $secondary-color, $secondary-color),
    linear-gradient(to left, $secondary-color, $secondary-color);
  background-size: 2px 50%, 25% 2px;
  background-repeat: no-repeat;
  background-position: 0.75em 0.625em, 0.75em 0.625em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px $secondary-color;
  content: "";
  display: inline;
  height: 2em;
  margin: 1em auto;
  transform: rotate(-135deg);
  width: 2em;
}

input[type="checkbox"].myClass:checked + label {
  box-shadow: inset 0 0 0 1px $secondary-color, 0 0 0.25em 0 silver;
  color: $secondary-color;
  opacity: 1;
  font-weight: 800;
}
.serviceItemIcon {
  font-size: 1.2rem;
}
.insurenceImgUrl {
  height: 230px;
  width: 100%;
}
.insurence-card {
  height: 450px !important;
  min-height: 450px;
  border-radius: 0 !important;
  border-top: 5px solid $secondary-color !important;
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
}
.insurence-card.active {
  border-top: 5px solid $primary-color !important;
}
.insurence-card.active .card-body {
  background-color: $primaryy-active-color;
}
.insurence-card .custom-insurence-badge {
  position: absolute;
  left: 10px;
  top: -12px;
  border-radius: 0 !important;
  background-color: $primary-color !important;
}

.insurence-card .card-heading-text {
  font-family: $section-label-font-family;
}
.insurence-card .card-desc-text {
  font-family: $secondary-font-family;
  color: $font-color-normal;
}
.insurence-card .priceKey {
  margin-right: 5px;
}
.insurence-card .priceKey,
.insurence-card .priceValue {
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.insurence-card .enquiry-text {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  right: -15px;
  border: 1px solid $primary-color;
  padding: 2px 3px;
  background: $primary-color;
  border-radius: 5px;
  -webkit-box-shadow: 2px 7px 12px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 7px 12px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 7px 12px -6px rgba(0, 0, 0, 0.75);
}
/* .insurence-card .card-header-section{
  height: 50px;
  background-color: red;
} */

.enquiry-dialog-modal.p-sidebar .p-sidebar-close,
.enquiry-dialog-modal.p-sidebar .p-sidebar-icon {
  color: #fff !important;
  background: $primary-color !important;
}

.enquiry-dialog-modal.p-sidebar {
  background: #101010d1 !important;
}
/*
----------------------------------------------------
PAYMENT SECTION DESIGN
---------------------------------------------------
*/

.qr-code-img {
  height: 350px;
  width: 100%;
}

/*
----------------------------------------------------
TRUSTED BRAND SECTION DESIGN
---------------------------------------------------
*/
#trusted-brand-image-slider-section {
  padding: 0 3%;
}
#trusted-brand-image-slider-section
  .ng-image-slider
  .ng-image-slider-container
  .main
  .main-inner
  .img-div
  img,
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div video {
  border-radius: 0;
  padding: 5px;
  // border: 1px solid $secondary-color;
}

#trusted-brand-image-slider-section
  .ng-image-slider
  .ng-image-slider-container
  .main
  .main-inner
  .img-div {
  box-shadow: none;
}

/*
----------------------------------------------------
FOOTER SECTION DESIGN
---------------------------------------------------
*/
#footer {
  background: $footer-background-color;
  padding: 25px 45px;
  color: #fff;
  font-size: 1.05rem;
}

#footer .copyright {
  text-align: center;
}

.footer-social-icon {
  margin: 7px;
  font-size: 1.3rem;
  cursor: pointer;
}

/*
----------------------------------------------------
ENQUIRY SECTION DESIGN
---------------------------------------------------
*/

.enquiry-form-card {
  border-radius: 10px !important;
  border: 1px solid $secondary-color !important;
  padding: 10px;
  -webkit-box-shadow: 4px 15px 17px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 15px 17px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 15px 17px -10px rgba(0, 0, 0, 0.75);
}

.text-error {
  color: $primary-color !important;
}

.border-error {
  border: 1px solid $primary-color !important;
}

.mandatory-text {
  font-size: 0.8rem;
  font-style: italic;
}
.info-box {
  color: #0b2341;
  text-align: center;
  padding: 9px 0;
  background: #fff;
}
.info-box i {
  font-size: 32px;
  color: #ed502e;
  border-radius: 15px;
  padding: 8px;
  border: 2px dotted #fbdad2;
}
.info-box h3 {
  font-size: 1.5rem;
  color: #777777;
  font-weight: 700;
  font-family: $section-label-font-family;
}
.info-box p {
  font-family: $secondary-font-family;
}
.info-box p a:hover {
  font-weight: 600;
}
.info-card-box {
  border: 1px solid $secondary-color !important;
  box-shadow: 4px 15px 17px -10px rgb(0 0 0 / 75%);
}

/*
----------------------------------------------------
FORM - BUTTON DESIGN
---------------------------------------------------
*/

.form-label {
  color: $secondary-color !important;
  font-weight: bold;
}
.form-control {
  border-radius: 15px !important;
}
.form-control:focus {
  border-color: $secondary-color !important;
  box-shadow: none !important;
}

.primaryBtn {
  background-color: $primary-color !important;
  border: 1px solid $primary-color !important;
  border-radius: 20px !important;
  font-size: 1.1rem !important;
  letter-spacing: 1.5px !important;
  -webkit-box-shadow: -1px 15px 7px -9px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: -1px 15px 7px -9px rgba(0, 0, 0, 0.75) !important;
  box-shadow: -1px 15px 7px -9px rgba(0, 0, 0, 0.75) !important;
}
.primaryBtn:hover {
  background-color: $secondary-color !important;
  border: 1px solid $secondary-color !important;
}

/*
----------------------------------------------------
MEDIA QUERIES
---------------------------------------------------
*/
// Small devices (landscape phones, 320px and up)
@media (min-width: 320px) {
  .contact-details-text{
    font-size: 0.5rem;
  }
  

  //Social Media Icon Section
  .social-media-icon-section span .social-icon {
    padding: 3px 2px;
    font-size: 1.3rem;
  }
  .open-menu-icon {
    font-size: 1.2rem;
    width: 35px;
    height: 47px;
  }
  .imageItemTopSlider .ng-image-slider{
    height: 324px !important;
  }
  .imageItemTopSlider .ng-image-slider .ng-image-slider-container .main{
    height: 324px !important;
  }
  .company-title {
    font-size: 1.5rem;
  }
  .small-screen-view{
    display: block;
  }
  .large-screen-view{
    display: none;
  }
  .section-title h2{
    font-size: 2rem;
  }
  .section-description {
    font-size: 1.1rem;
  }
  .insurence-card {
    height: 440px !important;
    min-height: 440px;
  }
  #enquiry-form-section .mt-sm-2{
    margin-top: 1.5rem !important;
  }
  .info-box {
    padding: 0px;
  }
  .info-box i {
    font-size: 25px;
    padding: 5px;
  }
  .primaryBtn{
    font-size: 0.8rem !important;
  }
  #footer {
    font-size: 0.8rem;
  }
  .company-logo-image{
    margin-top: 5px;
    height: 130px;
  }
  .footer-social-icon{
    font-size: 1rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  //Social Media Icon Section
  .social-media-icon-section span .social-icon {
    padding: 5px 5px;
    font-size: 1.5rem;
  }
  .open-menu-icon {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
  }
  .imageItemTopSlider .ng-image-slider{
    height: 400px !important;
  }
  .imageItemTopSlider .ng-image-slider .ng-image-slider-container .main{
    height: 400px !important;
  }
  .company-title {
    font-size: 2rem;
  }
  .small-screen-view{
    display: none;
  }
  .large-screen-view{
    display: block;
  }
  #company-logo-section .logo-container {
    height: 200px;
  }
  .company-logo-image {
    height: 150px;
  }
  .section-title h2{
    font-size: 2rem;
  }
  .insurence-card {
    height: 450px !important;
    min-height: 450px;
  }
  #enquiry-form-section .mt-sm-2{
    margin-top: 1.5rem !important;
  }
  .info-box {
    padding: 0px;
  }
  .info-box i {
    font-size: 25px;
    padding: 5px;
  }
  .primaryBtn{
    font-size: 1.1rem !important;
  }
  #footer {
    font-size: 1.1rem;
  }
  .company-logo-image {
    height: 150px;
    margin-top: 20px;
  }
  .footer-social-icon{
    font-size: 1.3rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .imageItemTopSlider .ng-image-slider{
    height: 630px !important;
  }
  .imageItemTopSlider .ng-image-slider .ng-image-slider-container .main{
    height: 630px !important;
  }
  .company-title {
    font-size: 3rem;
  }
  .company-logo-image {
    height: 190px;
  }
  #company-logo-section .logo-container {
    height: 250px;
  }
  .section-title h2{
    font-size: 2.5rem;
  }
  .section-description {
    font-size: 1.4rem;
  }
  #enquiry-form-section .mt-sm-2{
    margin-top: 0rem !important;
  }
  .info-box {
    padding: 9px 0;
  }
  .info-box i {
    font-size: 32px;
    padding: 8px;
  }
  .company-logo-image {
    height: 190px;
    margin-top: 20px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  
}
