<section id="company-logo-section">
  <div class="logo-container">
    <h1 class="company-title">Aditya Advisory & Financial Services</h1>
    <!--animate__animated animate__fadeInDown-->
    <div class="container-fluid">
        <div class="row align-item-center text-center">
            <div class="col-4">
                <div class="row">
                    <div class="col-7">
                        <i class="fa-solid fa-envelope logo-section-icon"></i>
                        <a class="logo-section-label" href="mailto:adityacare4you@gmail.com">
                            adityacare4you@gmail.com
                        </a>
                    </div>
                    <div class="col-5">
                        <i class="fa-solid fa-phone logo-section-icon"></i>
                        <a href="tel:9830947257" class="logo-section-label"> +91-9830 947 257</a>
                        <br />
                        <i class="fa-solid fa-phone logo-section-icon"></i>
                        <a href="tel:8420009666" class="logo-section-label"> +91-8420 009 666</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
              <img
                src="assets/images/app_logo_new2.png"
                class="company-logo-image"
                alt="Aditya Advisory & Financial Services Logo"
              />
              <!--animate__animated animate__flipInX-->
            </div>
            <div class="col-4">
              <section>
                <i class="fa-solid fa-location-dot logo-section-icon"></i>
                <a class="logo-section-label" target="_blank"
                    href="http://maps.google.com/?q=250 Silcon Neer, Ground Floor, Purbaputiary, Kolkata-93">
                    250 Silcon Neer, Ground Floor, Purbaputiary, Kolkata-93
                </a>
              </section>
            </div>
          </div>
    </div>
   

    <!-- <div class="logo-container-item"> 
            
            
        </div> -->
  </div>
</section>
