<a href="javascript:void(0);" class="open-menu-icon" (click)="toggleMenu()" pTooltip="Open menu" tooltipPosition="left">
  <i class="fa-solid fa-angles-left"></i>
</a>
<app-menu></app-menu>
<app-social-media-contact></app-social-media-contact>
<app-image-slider></app-image-slider>
<app-company-logo></app-company-logo>
<div class="container">
  <app-about-us></app-about-us>
  <app-our-services></app-our-services>
  <!-- <app-payment-gateway></app-payment-gateway> -->
</div>
<app-trusted-brand></app-trusted-brand>

<app-application-footer></app-application-footer>

<router-outlet></router-outlet>
