<section class="social-media-contact-us-section">
  <div class="social-media-icon-section">
    <span><i class="fa-brands fa-whatsapp social-icon"></i></span>
    <span><i class="fa-brands fa-facebook social-icon"></i></span>
    <span><i class="fa-solid fa-envelope social-icon"></i></span>
    <span><i class="fa-brands fa-twitter social-icon"></i></span>
    <span><i class="fa-brands fa-instagram social-icon"></i></span>
    <span><i class="fa-brands fa-youtube social-icon"></i></span>
    <span><i class="fa-brands fa-pinterest social-icon"></i></span>
    <span><i class="fa-brands fa-linkedin social-icon"></i></span>
  </div>
</section>

